.idea
/logs
/dispatcher/target
/dispatcher/src/main/resources/application.properties
/node/src/main/resources/application.properties
/node/target
/mail-service/src/main/resources/application.properties
*/target/*
*/target/**
*/application.properties